<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Servicio Medico</title>
    @Styles.Render("~/LogIn/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="fondo">
        <div class="contenido">
            <div id="mensajes" class="alert alert-danger alert-dismissable">
                <button type="button" class="close"><span aria-hidden="true">&times;</span></button>
                <strong>
                    <i class="fa fa-exclamation-circle" aria-hidden="true"></i> Error
                </strong>
                <span id="textoMsm">@ViewBag..3+MensajeRegistro</span>
            </div>
            @RenderBody()
        </div>
    </div>
    <footer class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
        </div>
        <div class="col-md-4">
            <p>
                Aplicaci&oacute;n Web Creada por <strong>Leonardo Antonio Arellano Martinez.</strong>
            </p> 
            <br />
        </div>
        <div class="col-md-4">
            <address>
                <i class="fa fa-envelope" aria-hidden="true"></i> <strong> Correo: </strong>
                leo.aremtz98@gmail.com
            </address>

            <address>
                <i class="fa fa-mobile fa-lg" aria-hidden="true"></i> <strong> Celular: </strong>
                55-14-67-04-31
            </address>
        </div>
    </footer>

    @Scripts.Render("~/LogIn/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>