@section HojasEstilo{
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/snackbar.css" rel="stylesheet" />
}

@{
    ViewBag.Title = "EditarConsulta";
    Layout = "~/Views/Shared/_MenuPrincipal.cshtml";
}

<div class="row">
    <div class="col-lg-12">
        <div class="media page-header">
            <div class="media-body">
                <h1>Editar Consulta</h1>
            </div>
            <div class="media-right">
                <a class="thumbnail">
                    Sin Imagen
                </a>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="media">
        <div class="media-body">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Datos del Paciente</h3>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-4 text-center">
                            <p style="border:0;border-bottom: 3px solid #71BCC8;margin-bottom:2px;">@ViewBag.nompaciente</p>
                            <strong>Nombre del Paciente</strong>
                        </div>

                        <div class="col-lg-4 text-center">
                            <p style="border:0;border-bottom: 3px solid #71BCC8;margin-bottom:2px;">@ViewBag.edadpaciente años</p>
                            <strong>Edad del Paciente</strong>
                        </div>

                        <div class="col-lg-4">
                            @{
                                var hombreAttr = new Dictionary<string, object>();
                                var mujerAttr = new Dictionary<string, object>();
                                bool hombreActive = false;
                                bool mujerActive = false;
                                if (ViewBag.generopaciente == "1" || ViewBag.generopaciente == "Masculino")
                                {
                                    hombreActive = true;
                                    hombreAttr.Add("id", "rdbMasculino");
                                    mujerAttr.Add("disabled", "disabled");
                                }
                                else
                                {
                                    mujerActive = true;
                                    mujerAttr.Add("id", "rdbFemenino");
                                    hombreAttr.Add("disabled", "disabled");
                                }
                            }
                            <label class="radio-inline">
                                <div class="switch">
                                    @Html.RadioButton("grpGenero", "Masculino", hombreActive, hombreAttr)
                                    <div class="slider round"></div>
                                </div>
                                <i class="fa fa-mars fa-3x"></i>
                            </label>
                            <label class="radio-inline">
                                <div class="switch">
                                    @Html.RadioButton("grpGenero", "Femenino", mujerActive, mujerAttr)
                                    <div class="slider mujer round"></div>
                                </div>
                                <i class="fa fa-venus fa-3x"></i>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@using (Html.BeginForm("Actualizar", "Consultas", FormMethod.Post,
                new { id = "frmEditarConsulta", autocomplete = "off", accept_charset = "utf-8" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-heading">Fecha y Tiempo de la Consulta</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class='input-group date'>
                            <span class="input-group-addon">
                                <i class="fa fa-calendar fa-lg"></i>
                            </span>
                            <input type='text' id="dtpFecha" name="FechaConsulta" class="form-control" placeholder="Fecha" value="@ViewBag.fecha" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class='input-group date'>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o fa-lg"></i>
                            </span>
                            <input type='text' id="dtpHoraEntrada" name="HoraEntrada" class="form-control" placeholder="Hora de Inicio" value="@ViewBag.entrada" />
                        </div>
                    </div>

                    <div class="form-group">
                        <div class='input-group date'>
                            <span class="input-group-addon">
                                <i class="fa fa-clock-o fa-lg"></i>
                            </span>
                            <input type='text' id="dtpHoraFin" name="HoraSalida" class="form-control" placeholder="Hora de Finalizacion" value="@ViewBag.salida" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-9">

            <div class="panel panel-default">
                <div class="panel-heading">Consulta Medica</div>
                <div class="panel-body">
                    <input type="hidden" id="txtIdConsulta" name="IdConsulta" value="@ViewBag.idConsulta">
                    <div class="form-group">
                        <label for="txtDiagnostico"><i class="fa fa-heartbeat fa-lg"></i>  Diagnostico:</label>
                        <textarea id="txtDiagnostico" name="Diagnostico" class="form-control" placeholder="Escribe el diagnostico" style="min-width:100%; max-width:100%; min-height:100px; max-height:100px;" required>@ViewBag.diagnostico</textarea>
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <label for="txtTemperatura"> Temperatura:</label>
                            <div class="form-group">
                                <input type="text" id="txtTemperatura" name="Temperatura" class="form-control" value="@ViewBag.temp" placeholder="ej. 36" maxlength="5">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <label for="txtTemperatura"> T.A:</label>
                            <div class="form-group">
                                <input type="text" id="txtTA" name="TA" class="form-control" value="@ViewBag.ta" placeholder="ej 50/100" maxlength="7">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtFc"> F.C</label>
                                <input type="text" id="txtFc" name="FC" class="form-control" value="@ViewBag.fc" placeholder="ej 75.60" max="6">
                            </div>
                        </div>
                        <div class="col-xs-3">
                            <div class="form-group">
                                <label for="txtFr"> F.R</label>
                                <input type="text" id="txtFr" name="FR" class="form-control" value="@ViewBag.fr" placeholder="ej 75.60" max="6">
                            </div>
                        </div>
                    </div>
                    <!--TEXT BOX TRATAMIENTO-->
                    <div class="form-group">
                        <label for="txtObservaciones"><i class="fa fa-eye fa-lg"></i>  Observaciones:</label>
                        <textarea id="txtObservaciones" name="Observaciones" class="form-control" placeholder="Escribe las Observaciones" style="min-width:100%; max-width:100%; min-height:100px; max-height:100px;">@ViewBag.observaciones</textarea>
                    </div>

                    <div class="form-group">
                        <label for="txtCveDoctor"><i class="fa fa-user-md fa-lg"></i>  Atendio:</label>
                        <p id="txtCveDoctor" name="CveDoctor" class="form-control">@ViewBag.cveDoctor</p>
                    </div>

                    <div class="form-group">
                        <button type="submit" id="btnEditarConsulta" name="RegistrarConsulta" class="btn btn-block btn-lg btn-primario" data-toggle="confirmation">Editar Consulta</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
}

<div class="bg-danger" id="snackbar"></div>

@section scripts{
    <script src="~/Scripts/moment-with-locales.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/scriptsVistas/numeric-Up-Down.js"></script>
    <script src="~/Scripts/scriptsVistas/serializeFormJSON.js"></script>
    <script src="~/Scripts/scriptsVistas/snackbar.min.js"></script>
    <script src="~/Scripts/scriptsVistas/editarConsulta.js"></script>
}

